.container {
  display: flex;
}

.controls {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.line {
  display: flex;
  margin-bottom: 5px;
}

.label {
  width: 100px;
  font-style: italic;
  font-size: 0.9em;
  text-align: right;
  margin-right: 10px;
}

.control {
  flex-grow: 1;

  input, textarea {
    width: 100%;
  }
}

.details {
  height: 60px;
}

