@import "../common";

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tile {
  $margin: 10px;
  $border: 1px;
  $transition: 0.125s ease-in-out;
  transition: box-shadow $transition, background-color $transition;
  padding: 10px;
  flex-basis: 350px;
  flex-grow: 1;
  border-radius: 5px;
  border: $border solid $color-border;
  margin: $margin;
  &:hover {
    box-shadow: 0 0 5px 0 $color-border;
    background-color: #f5f6fa;
  }
}
