@import 'common';

.app {
  max-width: 900px;
  margin: auto;
}

.header {
  padding: 15px 0;
  border-bottom: 1px solid $color-border;
}

.footer {
  padding: 15px 0;
  border-top: 1px solid $color-border;
}

.proposeLink {
  display: none;
}

.body {
  padding: 15px 0;
}
