@import "../common";

.header {
  display: flex;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.summary {
  flex-grow: 1;
}

.name {
  font-weight: 500;
  flex-grow: 1;
}

.date {
  font-style: italic;
  font-size: .9em
}

.tags {
  display: flex;
  justify-content: flex-end;
}

.entries {
}

.entry {
  margin-left: 35px;
  margin-bottom: 15px;
  display: flex;
  &::before {
    content: '\27A4';
    position: absolute;
    font-size: 0.7em;
    transform: translate(-20px, 3px);
  }
  &:hover {
    cursor: pointer;
    color: $color-secondary;
  }
}
