@import "../common";

.addLink {
  margin-bottom: 30px;
}

.addLinkAction {
  font-style: italic;
  cursor: pointer;
}

.addNewsletter {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid $color-border;
}
