:host {
  display: block;
  mat-card {
    margin: 16px 0;
  }
  fxy-link-hrefs {
    margin: 8px 0 8px 16px;
  }
  .header {
    display: flex;
  }
  .title {
    flex: 1 1 auto;
    font-size: 1.2em;
    font-weight: 500;
  }
  .summary {

  }
}
